body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5f5;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}
